// -------------------------------------
//   Typography
// -------------------------------------
// ----- Global typography classes
// -------------------------------------

// font-family: 'gotham_condensedbold';
// font-family: 'gotham_condensedmedium';
// font-family: 'gotham_condensed_lightregular';
.body-copy {
  float: right;
  text-align: right;
  width: 600px;
  color: #262b66;
  font-size: 24px; 
  padding: 2.5% 3.5% 0 0;
  //text-shadow: 0 2px 2px black;
}

button {
  background: rgba(255, 255, 255, .9);
  color: #262b66; 
  white-space: pre-wrap !important;
  @include transition (all .3s ease-in-out);
  &:hover {
    color: #fff;
    background-color: #262b66 !important; 
  }
}

h1, h2, h3, h4,
h5, h6, p {
	//font-family: 'gotham';
	font-family: 'Rajdhani', sans-serif;
	font-weight: normal;
}
